*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

#navbar
{
    font-family: 'Baloo Bhai', cursive;
    display: flex;
    position: absolute;
}

#navbar img
{
    width: 5rem;
}

#navbar ul
{
    list-style: none;
    display: flex;
    align-items: center;
}

#navbar ul li
{
    margin: 20px;
}

#navbar ul li a
{
    text-decoration: none;
    padding: 0px 30px;
    border-radius: 20px;
    font-size: 20px;
    color: white;

}

#navbar ul li a:hover
{
    background-color: black;
}

#home
{
    font-family: 'Baloo Bhai', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    flex-direction: column;
    background: url('bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
    position: relative;
}

#home h1
{
    font-size: 40px;
    color: white;
    padding: 15px
}

#home p
{
    color: white;
   text-align: center;
   font-size: 1.3rem;
}

#home ul li
{
    list-style: none;
    margin: 12px;
}

#home ul li a
{
    text-decoration: none;
    border: 1px solid black;
    font-size: 1.2rem;
    border-radius: 18px;
    padding: 5px;
    color: white;
    background-color: rgb(88, 86, 86);
}

#home ul li a:hover
{
    background-color: black;
    color: white;
}

#services-container
{
    font-family: 'Baloo Bhai', cursive;
}

#services-container h1
{
    text-align: center;
    font-size: 2.5rem;
}

#services 
{
    display: flex;
}

.box
{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    padding: 10px;
}

.box img
{
    width: 9rem;
}

#clients
{
    margin-top: 10px;
    background-image: url('https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zNDYtMDEwLnBuZw.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Baloo Bhai', cursive;
}

#clients h1
{
    text-align: center;
    font-size: 2.5rem;
} 

.clients
{
    display: flex;
    justify-content: space-evenly;
}

.clients img
{
    width: 10rem;
}

#contactus
{
    font-family: 'Baloo Bhai', cursive;
    background-image: url('contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 370px;
    margin-top: 1px;
}

#contactus h1
{
    text-align: center;
    font-size: 2.5rem;
}

.contactus 
{
    font-family: 'Baloo Bhai', cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactus button
{
    margin: 20px;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 30px;

}

.contactus button:hover
{
    background-color: black;
    color: white;
}
.contactus input
{
    padding: 5px;
    text-align: center;
}

.contactus textarea
{
    resize: none;
    /* height: 50px;
    width: 350px; */
    text-align: center;
}

.footer
{
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    color: white;
    background-color: black;
}